<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/db2triples-master/src/main/java/net/antidot/semantic/rdf/rdb2rdf/main/Db2triples.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.antidot.semantic.rdf.rdb2rdf.main.Db2triples"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="db2triples-master"/>
</launchConfiguration>
